name: Docker Build (Debian)

on:
 push:
  branches:
    - main

 schedule:
  - cron: 0 0 1 * *
 workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      LATEST_TECTONIC_VERSION: "0.15.0"
    strategy:
      matrix:
        base-image: ["bullseye", "alpine"]
        tectonic: ["0.14.1", "0.15.0"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        continue-on-error: true
        with:
          context: .
          build-args: |
            version=${{ matrix.tectonic }}
          file: ./Dockerfile-${{ matrix.base-image }}
          platforms: linux/amd64
          push: true
          tags: |
            dxjoke/tectonic-docker:${{ matrix.tectonic }}-${{ matrix.base-image }}-biber
      - name: Tag as latest and push
        if: matrix.tectonic == env.LATEST_TECTONIC_VERSION
        run: |
          SOURCE_IMAGE=dxjoke/tectonic-docker:${{ matrix.tectonic }}-${{ matrix.base-image }}-biber
          docker tag $SOURCE_IMAGE dxjoke/tectonic-docker:latest-${{ matrix.base-image }}-biber
          docker push dxjoke/tectonic-docker:latest-${{ matrix.base-image }}-biber
          
          if [ "${{ matrix.base-image }}" == "bullseye" ]; then
            docker tag $SOURCE_IMAGE dxjoke/tectonic-docker:latest
            docker push dxjoke/tectonic-docker:latest
          fi
