name: Docker Build (Debian)

on:
 push:
  branches:
    - main

 schedule:
  - cron: 0 0 1 * *
 workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      LATEST_TECTONIC_VERSION: "0.15.0"
    strategy:
      matrix:
        base-image: ["bullseye", "alpine"]
        tectonic: ["0.14.1", "0.15.0"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: dxjoke/tectonic-docker
          tags: |
            type=raw,value=${{ matrix.tectonic }}-${{ matrix.base-image }}-biber
            type=raw,value=latest-${{ matrix.base-image }}-biber,enable=${{ matrix.tectonic == env.LATEST_TECTONIC_VERSION }}
            type=raw,value=latest,enable=${{ matrix.tectonic == env.LATEST_TECTONIC_VERSION && matrix.base-image == 'bullseye' }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            version=${{ matrix.tectonic }}
          file: ./Dockerfile-${{ matrix.base-image }}
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
